/* You can add global styles to this file, and also import other style files */

body{ // disable scroll
    overflow-y:hidden;
    overflow-x:hidden;
    margin: 0px;
}

.scrollableContent {
    overflow:auto;
    height: calc(100vh - 120px); // 60px for header and 70px for graphtoolbar

    .background {
        height: inherit;
        width: 100%;
        position: fixed;
        background-color: #9dbcd5;
        z-index: -1;
    }
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    width: 1920px;
    z-index: -1;
}

